*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: .2s linear;
}
body{
    background: rgb(2,0,31);
background: radial-gradient(circle, rgba(2,0,31,1) 0%, rgba(2,2,162,0.9766281512605042) 38%, rgba(0,0,0,1) 100%);
    background-size: 100%;
    background-size: 100%;
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: "Arial";
}
main{width: 100%;
    max-width: 400px;
        padding: 10px 2%;
        background-color: rgb(0, 0, 0);
        color: rgb(24, 0, 110);
        border-radius: 15px;
        border: 2px solid rgb(0, 0, 0);
        box-shadow: 0px 0px 8px rgba(0,136,255,1);
        display: flex;
        align-items:center ;
        justify-content: center;
        flex-wrap: wrap;
}
.title{
    font-size: 34px;
}
.subTitle{
    font-size: 26px;
}
.subTitle1{
    font-size: 26px;
}
div.container input{
    width: 100%;
max-width: 50px;
padding-top: 5px;
font-size: 16px;
border-radius: 5px;
border: 1px solid black;
outline: 0;
margin-top: 10px;
background-color: rgb(204, 204, 204);
font-weight: 700;
}
div.container input::-webkit-inner-spin-button{
    display: none;
}
.block button{
    font-size: 18px;
    padding: 5px 2px;
    border-radius: 5px;
    color: rgb(24, 0, 110);
    border: none;
    background-color: rgb(0, 0, 0);
}
.block{
    display: block;
}
.block button:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(24, 0, 110);;
}
.imc{
    font-size: 18px;
    text-align: center;
    text-shadow: 0px 0px 1px;
    padding-top: 8px;
    padding-bottom: 8px;
}
@media (max-width: 406px) {
    .title{
        font-size: 21px;
    }
    .subTitle{
        font-size: 17px;
    }
    .subTitle1{
        font-size: 17px;
    }
    .section.imc{
        font-size: 17px;
    }
    .interval{font-size: 10px;}
    .block button{
        font-size: 16px;
    }
    main{width: 100%;
        max-width: 217px;}
}